[defaults]
inventory = ./inventory/hosts.ini
private_key_file = ~/.ssh/id_rsa
interpreter_python = /usr/bin/python3
vault_password_file = ./vault-password.enc

# The following configuration solves the issue
# "[ERROR]: Task failed: Failed to connect to the host via ssh: ssh_askpass: exec(/usr/X11R6/bin/ssh-askpass): No such file or directory"
# on MacOS
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
